<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дерево изображений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tree_styles.css') }}">
</head>
<body>

<h1>Дерево изображений</h1>

<ul class="year">
    {% for year in loader.dir_tree %}
    <li>
        <a>{{ year }}</a>
        <ul class="publication">
            {% for publication in loader.dir_tree[year] %}
            <li>
                <a>{{ publication }}</a>
                <ul class="screen">
                    {% for screen in loader.dir_tree[year][publication] %}
                    <li>
                        <a href="/caricatures?specific_img&year={{year}}&publication={{publication}}&screen={{screen}}">{{ screen }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

</body>
</html>
